:root {
	--fill-color: white;
	--stroke-color: black;
	--locked-highlight: red;
	--opacity-transition: opacity 0.1s ease;
	--transform-transition: transform 0.2s ease-out;
	--disabled-dice-transform: translateY(-25%);
}

.dice.container {
	width: 100%;
	padding: 1rem 0;
	display: grid;
	grid-template: 100% / repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	gap: 1rem;
}

.icon.dice {
	height: auto;
	width: 100%;
	transform: translate(0, 0);
	transition: var(--transform-transition);
}

.icon.dice rect {
	fill: var(--fill-color);
	stroke: var(--stroke-color);
}

.icon.dice circle {
	opacity: 0;
	fill: var(--stroke-color);
}

.icon.dice.locked rect {
	stroke: var(--locked-highlight);
}

.icon.dice.locked circle {
	fill: var(--locked-highlight);
}

.icon.dice.locked {
	transform: translate(0, -25%);
}

.icon.dice:not(.locked) {
	cursor: pointer;
}
