.dice-container {
	height: fit-content;
	max-height: 2rem;
	width: 100%;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	gap: 1rem;
}

.dice-icon {
	height: auto;
	max-height: 4rem;
	width: 100%;
	transition: var(--transform-transition);
}

.dice-dot {
	opacity: 0;
	transition: opacity 0.1s linear;
}

.dice-icon.locked {
	transform: translateY(-25%);
}

.dice-icon:not(.locked) {
	cursor: pointer;
}
