:root {
	--opacity-transition: opacity 0.2s ease;
	--transform-transition: transform 0.2s ease;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5); */
}
body {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 2rem auto;
	align-items: center;
	justify-items: center;
}

button {
	padding: 0.25em 1em;
	cursor: pointer;
}

header {
	width: 100%;
}

main {
	opacity: 0;
	display: grid;
	grid-template: 2rem 1fr / 1fr 8ch;
	grid-template-areas:
		'info roll-button'
		'score dice';
	gap: 1rem;
	transition: var(--opacity-transition);
}

main > section {
	height: 100%;
	width: 100%;
}
section.info {
	grid-area: info;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	align-items: center;
	justify-items: center;
}

.rolls-left,
.current-player {
	height: 100%;
	width: 100%;
	min-width: 25ch;
}

button.roll {
	grid-area: roll-button;
	width: 100%;
}

section.score {
	grid-area: score;
}

section.dice {
	grid-area: dice;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.dice-container {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.dice-icon {
	width: 100%;
	height: auto;
	transition: var(--transform-transition);
}

.dice-dot {
	opacity: 0;
	transition: opacity 0.1s linear;
}

.dice-icon.locked {
	transform: translateX(20%);
}

.dice-icon:not(.disabled) {
	cursor: pointer;
}

.score-table {
	grid-area: score-table;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	/* max-width: 450px; */
}

.score-table th,
.score-table td {
	padding: 0.25em;
	border-width: 1px;
	border-style: solid;
}

.score-table td {
	min-width: 5ch;
	max-width: 20ch;
}

.score-table td.current.option,
.score-table td.current.disable {
	cursor: pointer;
}

.start-modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: var(--opacity-transition), var(--transform-transition);
}

.modal-content {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 500px;
	padding: 1rem;
	border-radius: 0.5rem;
	display: grid;
	grid-template-rows: 5rem auto;
	transition: opacity 0.25s ease-in, transform 0.25s ease-in;
}

.start-modal.closed {
	opacity: 0;
	transform: scale(0);
}

.show {
	opacity: 1;
}
