:root {
	--opacity-transition: opacity 0.2s ease;
	--transform-transition: transform 0.2s ease;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 3rem auto;
	align-items: center;
	justify-items: center;
}

button {
	padding: 0.25em 1em;
	cursor: pointer;
}

header {
	width: 100%;
}

main {
	opacity: 0;
	display: grid;
	grid-template: 1fr / repeat(2, 1fr);
	gap: 2rem;
	padding: 2rem;
	transition: var(--opacity-transition);
}

section.dice {
	justify-self: end;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 5rem;
}

section.score {
	height: 100%;
	width: 100%;
}

button.roll {
	width: 100%;
	margin-top: 2rem;
}

.dice-container {
	height: 100%;
	width: fit-content;
	padding: 0 1rem;
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	gap: 1rem;
	align-self: right;
}
.dice-icon {
	width: auto;
	max-width: 4rem;
	height: 100%;
	transition: var(--transform-transition);
}

.dice-dot {
	opacity: 0;
	transition: opacity 0.1s linear;
}

.dice-icon.locked {
	transform: translateX(-25%);
}

.dice-icon:not(.locked) {
	cursor: pointer;
}

.score-table {
	grid-area: score-table;
	border-collapse: collapse;
	height: 100%;
	width: 100%;
	max-width: 450px;
}

.score-table th,
.score-table td {
	padding: 0.2em 0.5em;
	border-width: 1px;
	border-style: solid;
}

.score-table td.current.option,
.score-table td.current.disable {
	cursor: pointer;
}

.start-modal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: var(--opacity-transition), var(--transform-transition);
}

.modal-content {
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 500px;
	padding: 1rem;
	border-radius: 0.5rem;
	display: grid;
	grid-template-rows: 5rem auto;
	transition: opacity 0.25s ease-in, transform 0.25s ease-in;
}

.start-modal.hidden {
	opacity: 0;
	transform: scale(0);
}

.show {
	opacity: 1;
}
