table.score {
	max-width: 50ch;
	border-collapse: collapse;
	padding: 1rem;
	max-height: 100vh;
	opacity: 0;
}

table.score.show {
	opacity: 1;
}

th,
td {
	font-size: 0.8rem;
	padding: 0.5em 1em;
	text-align: center;
	text-transform: capitalize;
	border: 1px solid rgba(0, 0, 0, 0.25);
}

th:first-child {
	text-align: left;
}

tbody:not(.sum) th {
	font-weight: 400;
}

tbody.sum,
tfoot {
	background-color: rgba(0, 0, 0, 0.1);
}
