:root {
	--fill-color: white;
	--stroke-color: black;
	--disabled-highlight: red;
	--opacity-transition: opacity 0.1s ease;
	--transform-transition: transform 0.2s ease-out;
}

.dice.container {
	max-height: 5rem;
	display: grid;
	grid-template: 100% / repeat(5, 1fr);
	align-items: center;
	justify-items: center;
	gap: 0.5rem;
}

.icon.dice {
	height: 100%;
	width: auto;
	transform: translate(0, 0);
	opacity: 0;
	transition: var(--transform-transition), var(--opacity-transition);
}

.icon.dice rect {
	fill: var(--fill-color);
	stroke: var(--stroke-color);
}

.icon.dice circle {
	fill: var(--stroke-color);
	opacity: 0;
	transition: var(--opacity-transition);
}

.icon.dice.show,
.icon.dice circle.show {
	opacity: 1;
}

.icon.dice.disabled rect {
	stroke: var(--disabled-highlight);
}

.icon.dice.disabled circle {
	fill: var(--disabled-highlight);
}

.icon.dice.disabled {
	transform: translate(0, -50%);
}

.icon.dice.show:not(.disabled) {
	cursor: pointer;
}
